<a href="https://colab.research.google.com/github/nguyentrihien1585-maker/http-trihien.github.io/blob/main/buoi03_250819python101_st03_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mục mới

In [2]:
''' Python: first.py
python first.py (interpret)
'''
if __name__ == "__main__":
    a = 27
    b = 6
    c = a%b;
    print("The value of c is %d.\n"% c)

The value of c is 3.

##Ngôn ngữ lập trình

In [6]:
from IPython.display import display

In [7]:
print("Hello Word")
display('Hello Word')

Hello Word

'Hello Word'

In [8]:
x = 2
y = x+1
print(f'x ={x}, y+ {7}')

x =2, y+ 7

In [10]:
#Inden
score = 70
if score >= 60:
  print("Pass")

Pass

In [12]:
# Python Variables
x= 2
price = 2.5
word = 'Hello'
word = "Hello"
print(x,price,word)

2 2.5 Hello

In [13]:
x = "Hello World" #str
x = 2  #int
x=2.5 #float
x= 7j #complex

In [14]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [15]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [17]:
# Boolean: True/False
print (3>2)
print(3==2)
print (3<2)

True
False
False

In [18]:
# Tinh toan bmi
#input
height_cm = 170
weight_kg =60

#process
height_m = height_cm /100
bmi = (weight_kg / height_m ** 2)
#result
print(bmi)

20.761245674740486

In [19]:
$$bmi = \frac{weight_{kg}}{height_{m}^2}$$

SyntaxError: invalid syntax (ipython-input-1941234293.py, line 1)

In [20]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

$$bmi = \frac{weight_{kg}}{height_{m}^2}$$

In [21]:
#future value
pv = 100
r = 0.1
n = 7
fv = pv * ((1+(r) ** n))
print(round(fv, 2))

100.0

In [22]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Data Structure

In [23]:
x = ["apple", "banana", "cherry"] #list
print (x, type(x))
x = ("apple", "banana", "cherry") #tuple
print (x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print (x, type(x))
x = {"apple", "banana", "cherry"} #set
print (x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>

In [27]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[-1:-3])
print(x[:-1], x[:], x[::-1])

4
60
70
90
[70, 80]
[]
[60, 70, 80] [60, 70, 80, 90] [90, 80, 70, 60]

In [28]:
a=[2,3,5]
b= [1,2]
a. extend(b)
a.append(10)
print(a)

[2, 3, 5, 1, 2, 10]

In [29]:
animals = {'cat', 'dog'}
print('animal')
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('animal')
print('fish' in animals)
print(len(animals))
animals.add("cat")
print(len(animals))
animals.remove("cat")
print('animal')
print(len(animals))

animal
True
False
animal
True
3
3
animal
2

In [30]:
s= "Hom nay la thu hai"
print(len(s), list(s))
print(len(set(list(s)))), set(list(s))

18 ['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
12

(None, {' ', 'H', 'a', 'h', 'i', 'l', 'm', 'n', 'o', 't', 'u', 'y'})

In [31]:
#dictionary
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [33]:
s= "Hom nay la thu hai"
d_cnt = {}
for ci in list(s):
  if d_cnt.get(ci) is None:
    d_cnt[ci]=1
  else:
    d_cnt[ci]= d_cnt[ci]+1
print(d_cnt)

{'H': 1, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'h': 2, 'u': 1, 'i': 1}

In [34]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
{'name': 'Tom', 'age': 20}

In [35]:
import pandas as pd
pd.DataFrame([person])

  name  age
0  Tom   20