<a href="https://colab.research.google.com/github/nguyentrihien1585-maker/http-trihien.github.io/blob/main/buoi03_241908python101_st03_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mục mới

In [2]:
''' Python: first.py
python first.py (interpret)
'''
if __name__ == "__main__":
    a = 27
    b = 6
    c = a%b;
    print("The value of c is %d.\n"% c)

The value of c is 3.

##Ngôn ngữ lập trình

In [6]:
from IPython.display import display

In [7]:
print("Hello Word")
display('Hello Word')

Hello Word

'Hello Word'

In [8]:
x = 2
y = x+1
print(f'x ={x}, y+ {7}')

x =2, y+ 7

In [10]:
#Inden
score = 70
if score >= 60:
  print("Pass")

Pass

In [12]:
# Python Variables
x= 2
price = 2.5
word = 'Hello'
word = "Hello"
print(x,price,word)

2 2.5 Hello

In [13]:
x = "Hello World" #str
x = 2  #int
x=2.5 #float
x= 7j #complex

In [14]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [15]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [17]:
# Boolean: True/False
print (3>2)
print(3==2)
print (3<2)

True
False
False

In [18]:
# Tinh toan bmi
#input
height_cm = 170
weight_kg =60

#process
height_m = height_cm /100
bmi = (weight_kg / height_m ** 2)
#result
print(bmi)

20.761245674740486

In [19]:
$$bmi = \frac{weight_{kg}}{height_{m}^2}$$

SyntaxError: invalid syntax (ipython-input-1941234293.py, line 1)

In [20]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

$$bmi = \frac{weight_{kg}}{height_{m}^2}$$

In [21]:
#future value
pv = 100
r = 0.1
n = 7
fv = pv * ((1+(r) ** n))
print(round(fv, 2))

100.0

In [22]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Data Structure

In [23]:
x = ["apple", "banana", "cherry"] #list
print (x, type(x))
x = ("apple", "banana", "cherry") #tuple
print (x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print (x, type(x))
x = {"apple", "banana", "cherry"} #set
print (x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>

In [27]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[-1:-3])
print(x[:-1], x[:], x[::-1])

4
60
70
90
[70, 80]
[]
[60, 70, 80] [60, 70, 80, 90] [90, 80, 70, 60]

In [28]:
a=[2,3,5]
b= [1,2]
a. extend(b)
a.append(10)
print(a)

[2, 3, 5, 1, 2, 10]

In [29]:
animals = {'cat', 'dog'}
print('animal')
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('animal')
print('fish' in animals)
print(len(animals))
animals.add("cat")
print(len(animals))
animals.remove("cat")
print('animal')
print(len(animals))

animal
True
False
animal
True
3
3
animal
2

In [30]:
s= "Hom nay la thu hai"
print(len(s), list(s))
print(len(set(list(s)))), set(list(s))

18 ['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
12

(None, {' ', 'H', 'a', 'h', 'i', 'l', 'm', 'n', 'o', 't', 'u', 'y'})

In [31]:
#dictionary
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [33]:
s= "Hom nay la thu hai"
d_cnt = {}
for ci in list(s):
  if d_cnt.get(ci) is None:
    d_cnt[ci]=1
  else:
    d_cnt[ci]= d_cnt[ci]+1
print(d_cnt)

{'H': 1, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'h': 2, 'u': 1, 'i': 1}

In [34]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
{'name': 'Tom', 'age': 20}

In [35]:
import pandas as pd
pd.DataFrame([person])

  name  age
0  Tom   20

In [36]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [39]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))
for account in accounts:
 print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [42]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
  print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [43]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## Python Control Logic and Loops

In [46]:
a,b=5,2

for a,b in [(5,2), (5,5), (2,5)]:
  print("<",a<b) #a<b
  print(">",a>b, b<a)
  print(">=", a>=b, not(a<b))
  print("<=", a<=b, not(b<a))
  print("==", a==b, not(b<a) and not (a<b))
  print("!=", a!=b, b<a or a<b)

< False
> True True
>= True True
<= False False
== False False
!= True True
< False
> False False
>= True True
<= True True
== True True
!= False False
< True
> False False
>= False False
<= True True
== False False
!= True True

In [48]:
# Python if
score = 80
if score >=60 :
 print("Pass")

Pass

In [49]:
# Python if else
score = 80
if score >=60 :
 print("Pass")
else:
 print("Fail")

Pass

In [50]:
score = 95
if score >= 90 :
 print("A")
elif score >=60 :
 print("Pass")
else:
 print("Fail")

A

In [56]:
# Python if elif else
score = 90
grade = ""
if score >=90:
 grade = "A"
elif score >= 80:
 grade = "B"
elif score >= 70:
 grade = "C"
elif score >= 60:
 grade = "D"
else:
 grade = "E"
print(grade)

A

In [58]:
for i in range(1,6):
 print(i)

1
2
3
4
5

In [60]:
# for loops
for i in range(1,10):
 for j in range(1,10):
  print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [61]:
# while loops
age = 10
while age < 20:
 print(age)
 age = age + 1

10
11
12
13
14
15
16
17
18
19

## Python Functions

In [62]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
 fv = pv * ((1 + (r)) ** n)
 return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [63]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [64]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [66]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
 fv = pv * ((1 + (r)) ** n)
 return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

## Python Classes/Objects

In [72]:
# Python class
class MyClass: #class: mau giay to
  x=5

c1 = MyClass() #object: sv A dien vao giay to
print(c1.x)

5

In [75]:
class Person:
 def __init__(self, name, age): #hàm tạo, hàm trong class phải có từ khóa self
  self.name = name #định nghĩa hình thức
  self.age = age
p1 = Person("Alan", 20) #__init__(p1,"Alan",20)
print(p1.name)
print(p1.age)

Alan
20

In [78]:
class Person:
 def __init__(self, name, age):
  self.name = name
  self.age = age
 def myfunc(self):
    print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [79]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def myfunc(self):
      print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [80]:
print(Person,_dict_)

NameError: name '_dict_' is not defined

## Python Modules

In [86]:
# mymodule.py
def greeting(name):
 print("Hello, " + name)

In [84]:
# mymodule.py
def greeting(name):
 print("Hello, " + name)

greeting("Alan")

Hello, Alan